
@font-face {
  font-family: "CustomFont_Bold";
  src: url("./assets/fonts/bold.ttf") format("truetype");
}

@font-face {
  font-family: "CustomFont_Heavy";
  src: url("./assets/fonts/heavy.ttf") format("truetype");
}

@font-face {
  font-family: "CustomFont_Normal";
  src: url("./assets/fonts/regular.ttf") format("truetype");
}


@font-face {
  font-family: "CustomFont_Medium";
  src: url("./assets/fonts/medium.ttf") format("truetype");
}


@font-face {
  font-family: "Twitter_Minor";
  src: url("./assets/fonts/twitterminor.ttf") format("truetype");
}

.register_text {
    font-size: 70px;
    font-weight: bold;
  /* font-family: "Twitter_Minor", sans-serif; */

}
  .drop_background {
    position:fixed;
    z-index:10;
    top:0;
    left:0;
    width:100vw;
    height:100vw;
    /* background:red; */
  }

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --grey-1: rgb(113, 118, 123);
  --grey-3:rgb(83, 100, 113);
  --dark-1: rgb(0, 0, 0);
  --primary: #e4c590;
  --background_2: #0e0d0c;
  --blue-1: #1D9BF0;
  --grey-3:#CFD9DE;
  --grey-2: #f7f7f9;
  --grey-4:#EFF3F4;
  --white: #fff;
  --border: rgba(0, 0, 0, 0.06);
  --border1: rgba(207, 217, 222,.9);
  --dark-grey: rgb(15, 20, 25);
  --top: rgba(255, 255, 255, 0.65);
  --top1: rgba(255, 255, 255, 0.65);
  --dark-grey-hover: #f9f9f9d3;
  --grey-hover: rgba(15, 20, 25, 0.1);
  --grey-hover1: rgb(239, 243, 244);
  --backdrop: rgba(0, 0, 0, 0.4);
  --backdrop1: rgba(0, 0, 0, 0.4);
  --red:rgb(244, 33, 46);
  --shadow:rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}
.light-theme {
  --grey-1: rgb(113, 118, 123);
  --grey-3:rgb(83, 100, 113);
  --dark-1: rgb(0, 0, 0);
  --primary: #e4c590;
  --blue-1: #1D9BF0;
  --grey-4:#EFF3F4;

  --background_2: #0e0d0c;
  --blue-1: #1D9BF0;
  --grey-3:#CFD9DE;
  --grey-2: #f7f7f9;
  --white: #fff;
  --border: rgba(0, 0, 0, 0.06);
  --border1: rgba(207, 217, 222,.9);
  --dark-grey: rgb(15, 20, 25);
  --top: rgba(255, 255, 255, 0.65);
  --top1: rgba(255, 255, 255, 0.65);
  --dark-grey-hover: #f9f9f9d3;
  --grey-hover: rgba(15, 20, 25, 0.1);
  --grey-hover1: rgb(239, 243, 244);
  --backdrop: rgba(0, 0, 0, 0.2);
  --backdrop1: rgba(0, 0, 0, 0.4);
  --red:rgb(244, 33, 46);
  --shadow:rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}

.dim-theme {
  --white: rgb(20,32,43);
  --grey-4:#273340;
  --grey-3:#eff3f4;
  --blue-1: #1D9BF0;
  
  --dark-1: #eff3f4;
  --dark-grey: #eff3f4;
  --dark-grey-hover: #f9f9f90f;
  --grey-hover: #f9f9f90f;
  --grey-hover1: #f9f9f90b;
  --grey-3:#425364;
  --grey-2: rgb(30,39,50);
  --grey-1: rgb(139, 152, 165);
  --border: rgba(255, 255, 255, 0.1);
  --border1: rgba(255, 255, 255, 0.2);
  --top:rgba(20, 32, 43, 0.435);
  --top1:rgba(20, 32, 43, 0.665);
  --backdrop:rgba(49,59,69,.6);
  --shadow:rgba(255, 255, 255, 0.2) 0px 0px 15px, rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
}

.dark-theme {
  --white: rgb(0, 0, 0);
  --grey-4:#202327;
  --grey-3:#eff3f4;
  --blue-1: #1D9BF0;

  --dark-1: #eff3f4;
  --dark-grey: #eff3f4;
  --dark-grey-hover: #f9f9f90f;
  --grey-hover: #f9f9f90f;
  --grey-hover1: #f9f9f90b;
  --grey-3:#425364;
  --grey-2: #16181C;
  --grey-1: rgb(139, 152, 165);
  --border: rgba(255, 255, 255, 0.1);
  --border1: rgba(255, 255, 255, 0.2);
  --top:rgba(0, 0, 0, 0.65);
  --top1:rgba(0, 0, 0, 0.65);
  --backdrop:rgba(49,59,69,.6);
  --shadow:rgba(255, 255, 255, 0.2) 0px 0px 15px, rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
}
.yellow-theme {
  --blue-1: #FFD400;

}
.pinkred-theme {
  --blue-1: #F91880;
}
.purple-theme {
  --blue-1: #7856FF;
}
.greyred-theme {
  --blue-1: #FF7A00;
}
.green-theme {
  --blue-1: #00BA7C;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  font-family: "CustomFont_Normal", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: var(--dark-1);
  /* letter-spacing: .4px; */
}
.r-8kz0gk {
  height: 2rem !important;
}
.r-1cvl2hr {
  color: rgb(29, 155, 240) !important;
}
.r-lrsllp {
  width: 24px !important;
}

/* Nunito css */

.grid_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 6rem;
}

.family1 {
  font-family:  sans-serif;
}

.shadow {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.shadow:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* loader */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 8rem;
  height: 8rem;
  border: 2px solid var(--grey-2);
  border-radius: 50%;
  border-top-color: var(--blue-1);
  animation: spinner .7s linear infinite;
}
.loading.small {
   width: 3rem;
  height: 3rem;
  border: 3px solid var(--grey-2) !important;
  border-top-color: var(--blue-1) !important;

}

h1 {
  font-size: 70px;
  line-height: 84px;
  font-weight: normal;
}
h2 {
  font-size: 45px;
}
.flex-wrap {
  flex-wrap: wrap;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.4s ease;
  background-color: var(--blue-1);
  z-index: 300;

  border-radius: 40px;
  text-align: center;
  padding: 1.7rem 3rem;
  opacity: 1;
}
.btn.btn-2 {
  opacity: 0.9;

}
.btn.btn-3 {
  background-color: var(--dark-1);
  color: var(--white);
  padding: .9rem 2rem;
  opacity: 1;
}
.btn.btn-2:hover {
  opacity: 1;
}
.btn.btn-3:hover {
  opacity: 0.7;
}
.btn:hover {
  opacity: 1;
}
.text_secondary {
  color: var(--primary) !important;
}

.text_dark_grey {
  color: var(--dark-grey);
}
.text-white {
  color: #fff;
}

.text-blue {
  color: var(--blue-1);
}

.text-dark-green {
  color: var(--dark-green);
}
.icon {
  width: 6rem;
  height: 6rem;
  transition: all 0.4s;
  border-radius: 50%;
  cursor: pointer;
}
.icon:hover {
  background-color: var(--grey-hover);
}
.icons {
  width: 3.5rem;
  height: 3.5rem;
  transition: all 0.4s;
  border-radius: 50%;
  cursor: pointer;
}
.icons:hover {
  background-color: var(--grey-hover);
}

.input,
button {
  border: none;
  outline: none;
  font-family: inherit;
  background-color: transparent;
}

.input {
  border: none;
  outline: none;
  font-family: inherit;
  background-color: transparent;
}
.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #000000 40%,
    hsla(0, 0%, 0%, calc(100% - 40%)) 100%
  );
  z-index: 300;
}
.gradient2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #000000 12%,
    hsla(0, 0%, 0%, calc(100% - 45%)) 100%
  );
  z-index: 300;
}

.text-grey {
  color: var(--grey-1);
  /* color: rgb(15, 20, 25); */
}

.text-grey2 {
  color: rgb(83, 100, 113);
}

.text-dark {
  color: var(--dark-1);
}

.back-grey {
  background-color: var(--light-grey);
}

.flex-1 {
  flex: 1;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-8 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.py-10 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.py-15 {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.py-20 {
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-6 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.px-4 {
  padding: 0 4rem;
}

.text-extra-bold {
  font-family: "CustomFont_Heavy", sans-serif;
  font-weight: bolder;
}



.text-bold {
  font-weight: bold;
  font-family: "CustomFont_Bold", sans-serif;

}

.text-heavy {
  font-weight: bold;
  font-family: "Twitter_Minor", sans-serif;

}

.text-light {
  font-family: "CustomFont_Normal", sans-serif;

  font-weight: lighter;
}

.radius1 {
  border-radius: 4px;
}

.radius2 {
  border-radius: 20px;
}

.radius4 {
  border-radius: 40px;
}

.uppercase {
  text-transform: uppercase;
}

/* grid */

.grid-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-auto {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* flex */

.flex {
  display: flex;
}

.block {
  display: block;
}

.grid {
  display: grid;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

/* flex end */

.item-center {
  align-items: center;
}

.item-start {
  align-items: start;
}

.item-end {
  align-items: end;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.fs-48 {
  font-size: 4.8rem;
}

.justify-space {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.grid-gap1 {
  grid-gap: 2rem;
}

.grid-gap2 {
  grid-gap: 4rem;
}

.grid-gap3 {
  grid-gap: 6rem;
}

.fs-20 {
  font-size: 2.0rem;
}

.fs-24 {
  font-size: 2.4rem;
}

.fs-26 {
  font-size: 2.6rem;
}

.fs-30 {
  font-size: 3.0rem;
}

.fs-35 {
  font-size: 3.5rem;
}

.fs-40 {
  font-size: 4rem;
}

.fs-50 {
  font-size: 5rem;
}

.fs-46 {
  font-size: 46px;
}

.fs-70 {
  font-size: 70px;
}

.fs-12 {
  font-size: 12px;
}

.fs-10 {
  font-size: 10px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-15 {
  font-size: 15px;
}
.fs-18 {
  font-size: 18px;
}

.avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  /* border: 1px solid rgba(0, 0, 0, 0.07); */
}

/* MyCarousel.css */

.owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 10;
}

/* slider css end */

.relative {
  position: relative;
}

.hidden {
  overflow: hidden;
}

.link {
  font-size: 18px;
  color: var(--blue-1);
  font-weight: 600;
}

.w-50 {
  width: 50%;
}

.w-70 {
  width: 70%;
  max-width: 1390px;
}

.w-85 {
  width: 86%;
  max-width: 1390px;
}

.w-90 {
  width: 95%;
  max-width: 1390px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.auto {
  margin: 0 auto;
}

.wrap {
  flex-wrap: wrap;
}

/* slider css start */

.owl-theme {
  width: 100%;
  /* height: 300px; */
}

.owl-item {
  width: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
  /* .owl-theme {
    height: 400px;
  } */
  .owl-item {
    width: 33.333%;
  }
}

.carousel-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .carousel-wrapper {
    max-width: 100%;
    padding: 0 20px;
  }
  .w-70 {
    width: 90%;
  }
}

/* MyCarousel.css */

.owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 10;
}

@media (max-width: 1080px) {
  html {
    font-size: 50%;
    scroll-behavior: smooth;
  }
  p {
    width: 100%;
  }
  .grid-2,
  .grid-3 {
    grid-template-columns: 1fr;
  }
  .fs-35 {
    font-size: 28px;
  }
  .fs-45 {
    font-size: 30px;
  }
  h1 {
    font-size: 6.8rem;
  }
  .w-70 {
    width: 90%;
  }
}

@media (max-width: 580px) {
  h1 {
    font-size: 6rem;
    line-height: 50px;
  }
  h2 {
    line-height: 35px;
    font-size: 3rem;
  }
  .fs-45 {
    font-size: 30px;
  }
  .fs-40 {
    font-size: 30px;
  }
  .fs-20 {
    font-size: 18px;
  }
  .fs-18 {
    font-size: 16px;
  }
  .fs-16 {
    font-size: 14px;
  }
  .w-70 {
    width: 100%;
  }
  .w-85 {
    width: 90%;
  }
}

@media (max-width: 380px) {
  h1 {
    font-size: 5.5rem;
    line-height: 50px;
  }
  h2 {
    line-height: 35px;
    font-size: 2.7rem;
  }
}
